*{
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app-header {
  background-color: white;
  object-fit: contain;
  margin: 20px;
  border-bottom: 1px solid lightgray;
}

.app-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
}
